<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .container{
            padding:80px 120px;
        }
        .game{
    		border: 10px solid transparent;
   	 	margin-bottom: 25px;
		width: 200px;
		height: 200px;
	}
	.game:hover {
    		border-color: #f1f1f1;
	}
    </style>
    <title>THE ULTIMATE WEBSITE</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span> 
      				</button>
				<a class="navbar-brand" href="https://nanopi.ml/">Nanopi</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li {{#if home}}class="active"{{/if}}>
						<a href="https://nanopi.ml/">Home</a>
					</li>
					<li {{#if games}}class="active"{{/if}}>
						<a href="https://nanopi.ml/games">Games</a>
					</li>
					<li {{#if tools}}class="active"{{/if}}>
						<a href="https://nanopi.ml/tools">Tools</a>
					</li>
       					<li {{#if chat}}class="active"{{/if}}>
						<a href="https://nanopi.ml/chat">Chat</a>
					</li>
					<li>
						<a href="https://music.nanopi.ml/">Music</a>
					</li>
					{{#if auth}}
						<li {{#if admin}}class="active"{{/if}}>
							<a href="https://nanopi.ml/admin">Admin</a>
						</li>
						{{else}}
						<li {{#if login}}class="active"{{/if}}>
							<a href="https://nanopi.ml/login">Login</a>
						</li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
    {{{body}}}
</body>
</html>
