<div class="container text-center">
	<h3>Games</h3>
  	<p>
		<em>Have fun</em>
	</p>
  	<br>
  	<div class="col-sm-4">
  		<p>
			<strong>Platformer</strong>
		</p>
		<br>
 		<a href="./games/platformer">
  			<img src="./games/platformer/platformer.jpg" class="img-circle game" alt="Platformer">
 		</a>
	</div>
	<div class="col-sm-4">
  		<p>
			<strong>Moomoo.io</strong>
		</p>
		<br>
 		<a href="./games/moomoo.io">
  			<img src="./games/moomoo.io/moomoo.io.jpg" class="img-circle game" alt="Moomoo.io">
 		</a>
	</div>
</div>
