<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span> 
      			</button>
			<a class="navbar-brand" href="/">Nanopi</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li  class="active"><a href="https://nanopi.ml/games">Games</a></li>
				<li><a href="https://nanopi.ml/tools">Tools</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container text-center">
  <h3>Games</h3>
  <p><em>Have fun</em></p>
  <br>
  <div class="col-sm-4">
  	<p><strong>Platformer</strong></p><br>
 	<a href="#platformer" data-toggle="collapse">
  		<img src="./games/platformer/platformer.jpg" class="img-circle game" alt="Platformer">
 	</a>
  	<div id="platformer" class="collapse">
      		<p>A Fun Platformer Game</p>
      		<p>Built by Ethan "ScTiger" Rafael</p>
     		<a href = "./games/platformer">
			<p>PLAY NOW</p>
		</a>
  	</div>
</div>
</div>
