<script src = "./platformer/logic.js"></script>
<div class="container text-center">
<div id="custom" style="position:absolute; left:10px;border:2px solid black;">
 <p>Custom Level Selector</p>
 <input type="radio" name="custom" onclick = "clickCustom(event)" id="custom1" checked>1<br>
 <input type="radio" name="custom" onclick = "clickCustom(event)" id ="custom2" >2<br>
 <input type="radio" name="custom" onclick = "clickCustom(event)" id ="custom3" >3<br>
 <input type="radio" name="custom" onclick = "clickCustom(event)" id ="custom4" >4<br>
</div>
 <embed src="/api/Platformer_60fps.swf" style="width:800px;height:450px;" allowScriptAccess="always"></embed>
 <h2>SCORES</h2>
 <div id = "chart"></div>
 <a href="./platformer/lvlbuilder.html">Prototype lvl builder</a>, help test it out
</div>
