<script src = "./platformer/logic.js"></script>
<div class="container text-center">
<div id="custom" style="position:absolute; left:10px; ">
 <input type="radio" name="custom">1<br>
 <input type="radio" name="custom">2<br>
</div>
 <embed src="/api/Platformer_60fps.swf" style="width:800px;height:450px;" allowScriptAccess="always"></embed>
 <h2>SCORES</h2>
 <div id = "chart"></div>
 <a href="./platformer/lvlbuilder.html">Prototype lvl builder</a>, help test it out
</div>
