<div class="container text-center">
    <h3>Tools</h3>
    <p><em>Helpful bits of HTML</em></p>
    <br>
    <div class="col-sm-3">
    	<a href="http://legacy.nanopi.ml/tools/swfinfo">SWF Info Finder</a>
    </div>
    <div class="col-sm-3">
	    <a href="http://legacy.nanopi.ml/tools/speedtest">Internet Speed Test</a>
    </div>
    <div class="col-sm-3">
    	<a href="http://legacy.nanopi.ml/tools/stocks">Stock Viewer</a>
    </div>
    <div class="col-sm-3">
	    <a href="https://legacy.nanopi.ml/tools/quizizz">Quizizz Code Locater</a>
    </div>
    <br>
    <br>
    <div class="col-sm-12">
	    <p>Click <a href="https://legacy.nanopi.ml/tools">here</a> for the original</p>
    </div>
</div>
