<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span> 
      			</button>
			<a class="navbar-brand" href="/">Nanopi</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="https://nanopi.ml/games">Games</a></li>
				<li class="active"><a href="https://nanopi.ml/tools">Tools</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container text-center">
<h3>Tools</h3>
<p><em>Helpful bits of HTML</em></p>
<br>
<div class="col-sm-3">
	<a href="https://www.nanopi.ml/tools/swfinfo">SWF Info Finder</a>
</div>
<div class="col-sm-3">
	<a href="https://www.nanopi.ml/tools/speedtest">Internet Speed Test</a>
</div>
<div class="col-sm-3">
	<a href="https://www.nanopi.ml/tools/stocks">Stock Viewer</a>
</div>
<div class="col-sm-3">
	<a href="https://www.nanopi.ml/tools/quizizz">Quizizz Code Locater</a>
</div>
<br>
<br>
<div class="col-sm-12">
	<p>Click <a href="https://www.nanopi.ml/tools">here</a> for the original</p>
</div>
</div>
